body {
  text-align: center;
  color: #ffffff;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: lighter;
  
}
header{
  max-width: none;
  width:100%;
  height:500px;
  background-color: #2b6777;
  font-size: 300%;
  font-weight: lighter;
  margin-bottom: 10px;
}
li{
  list-style-type:none;
  margin: 10px;
}
footer{
text-align: center;
padding: 0px;
background-color: #52ab98;
color: white;
margin:-25px;

}
.Skill{
  background-attachment: fixed;
  background-size: cover;
  background-image:url(glass1.jpg);
  height:60%;
  margin: -20;
}
.study{
  background-attachment: fixed;
  background-size: cover;
  background-image:url(glass2.jpg);
  height:50%;
  margin: -20px;
  color:#0f322b;
}

th a{
  text-decoration:none;
  outline: none;
  margin: 0 2px
}
th a:visited{
  color:black;
}
th a:hover{
  outline: none;
  background:#6bc6b2;
  border-radius:10px;
  margin: 0 2px
}
a:focus{
  border-bottom: 1px solid;
  }

#Aboutme{
  color:black;
}