body{
  background-color:#52ab98;
  font-style:ubuntu,sans-serif;
}
ul {
  position:fixed;
  top :0; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#c8d8e4 ;
}
li {
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color:#c8d8e4 ;
  background-color: #2b6777 ;
}