header{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #2b6777;
  height: 100%;
}
/* * {
  box-sizing: border-box;
   
} */
aside{
  height: 100%;
}
body{
  background-color:#52ab98;
  font-style:ubuntu,sans-serif;
}
ul {
  position:fixed;
  top :0; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#c8d8e4 ;
}
li {
  float: right;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color:#c8d8e4 ;
  background-color: #2b6777 ;
}